

.introduccion {
    margin-top: 4%;
    .introduccion__texto {
        text-align: center;
        font-style: italic;
        margin: 0 20%;
        font-size: 2rem;
    }
}

.carruselTamano {
    margin: 6rem 0;
    img {
        margin: auto;
    }
}