

.section__center {
        display: flex;
        justify-content: center;
    }

#quienesSomos {
    margin-top: 4rem;
    span {
        color: black;
        background-color: #F7E01F;
        padding: 0 1rem;
    }
}