

#ubicacion {
    margin-top: 4rem;
    p {
        text-align: center;
        font-size: 1.8rem;
    }
    #iframe__div {
        margin:auto;
        display: flex;
        justify-content: center;
    }
}
